<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>MessiJS by MessiJS</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/messi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
        <header>
            <h1>MessiJS</h1>
            <p>A simple, elegant message plugin for jQuery.</p>

            <p class="view">
                <a href="https://github.com/MessiJS/MessiJS">View MessiJS on GitHub</a>
            </p>

            <ul>
                <li><a href="{{site.baseurl}}/">Return <strong>Home</strong></a></li>
                <li><a href="{{ site.baseurl }}/options/">MessiJS <strong>Options</strong></a></li>
                <li><a href="{{ site.baseurl }}/demos/">MessiJS <strong>Demos</strong></a></li>
                <li><a href="{{ site.baseurl }}/api/">MessiJS <strong>API</strong></a></li>
            </ul>
        </header>
        <section>
        {{ content }}
        </section>
        <footer>
            <p>This project is maintained by <a href="https://github.com/MessiJS">MessiJS</a></p>
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <script src="{{site.baseurl}}/javascripts/messi.js"></script>
    <script src="{{site.baseurl}}/javascripts/global.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
     </script>
     <script type="text/javascript">
         try {
            var pageTracker = _gat._getTracker("UA-3341219-10");
            pageTracker._trackPageview();
         } catch(err) {}
      </script>
  </body>
</html>
